.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.input {
  display: flex;
  justify-content: space-around;
}
.todolists {
  display:flex;
  gap: 30px;
  padding: 20px;
  justify-content: space-between;
}
.todolist{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  padding:5px;
  width: 300px;
  border: 1px solid black;
  border-radius: 10px;
  min-height:200px;
}
.todolist ol {
  text-align: left;
}
.todolist ol li{
  display: flex;
  align: top;
}
.deletetodolist img{
  width: 20px;
}